*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: bisque;
}
#app{
    display: flex;
    gap: 2rem;
}
.form{
    width: 40%;
}
.product-list{
    width: 60%;
}